---
layout: default
---
<main>
	<section class="welcome"><div class="welcome-wrap">
		<h1 class="welcome-title">ShopLokwa</h1>
		
		<nav class="welcome-links">
			<a href="https://instagram.com/shop.lokwa/" class="welcome-links-a">Instagram</a>
			<a href="" class="welcome-links-a">Facebook</a>
		</nav>
		
		<div class="welcome-samples"><div class="welcome-samples-wrap">
			<img src="/assets/images/product-1.A.png" class="welcome-samples-img is-product1" />
			<img src="/assets/images/product-2.png" class="welcome-samples-img is-product2" />
			<img src="/assets/images/product-1.B.png" class="welcome-samples-img is-product3" />
		</div></div>
		
		<footer class="welcome-footer">
			&copy; Copyrights 2024 Shop Lokwa. All Rights Reserved.
		</footer>
	</div><div class="welcome-bg"></div></section>
</main>